<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
   <title>Hírek</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel='stylesheet' href='style.css'>
   <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<header>
   <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
   <label for="menu-toggle" class="menu-icon">&#9776; Menü</label>
   <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
         <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/">Főoldal</a>
               </li>
               <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/profil">Profil</a>
               </li>
               <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/login">Bejelentkezés</a>
               </li>
               <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/register">Regisztráció</a>
               </li>
               <li sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EDITOR')">
                  <a class="nav-link text-dark" href="/admin">ADMIN</a>
               </li>
               <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/logout">Kijelentkezés</a>
               </li>
               <h2>Rovatok</h2>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/belfold">Belföld</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/kulfold">Külföld</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/gazdasag">Gazdaság</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/sport">Sport</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/tech">Tech</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/bulvar">Bulvár</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/eletmod">Életmód</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/rovat/auto">Autó</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>

<main>
   <h1>Hírkereső</h1>

   <div>
      <form th:action="@{/keres}" method="get" id="keres">
         Kulcsszó: <input type="text" name="kulcsszo" id="kulcsszo"></input>
         Kezdő dátum: <input type="date" name="kezdodatum" id="kezdodatum"></input>
         Vég dátum:<input type="date" name="vegdatum" id="vegdatum"></input>
         <input type="submit" value="Keresés" class="btn-sm btn-dark details"></input>
      </form>
      <h2>Legújabb cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${frisshirek}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Fontos cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${fontoshirek}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>

      <h2>Top Belföld cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Belfold}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Külföld cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Kulfold}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Gazdaság cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Gazdasag}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Sport cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Sport}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Tech cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Tech}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Bulvár cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Bulvar}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Életmód cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Eletmod}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>
      <h2>Top Autó cikkeink</h2>
      <table class="cikkek">
         <thead>
         <tr>
         </tr>
         </thead>
         <tbody>
         <!--span th:each="task,iter : ${foo.tasks}"-->
         <tr th:each="hir : ${Auto}">
            <td><a th:href="@{/incrementViewCount/{hirid}(hirid=${hir.hirid})}" target="_blank" th:text="${hir.cim}"></a><a th:href="@{/cikk/{hirid}(hirid=${hir.hirid})}"> (☁)</a></td>
            <td th:text="${hir.getHonnan()}" class="datum"></td>
            <td th:text="${hir.getKozetevesdatuma()}" class="datum"></td>
         </tr>
         </tbody>
      </table>



   </div>
</main>
</body>
</html>
