<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
   <head>
      <title>Regisztráció</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel='stylesheet' href='style.css'>
<!--      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   -->
   </head>

   <body>

   <h1>Hírkereső</h1>

   <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
         <div class="container">
            <div class="navbar-collapse collapse">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/">Főoldal</a>
                  </li>
                  <li sec:authorize="isAuthenticated()" class="nav-item">
                     <a class="nav-link text-dark" href="/profil">Profil</a>
                  </li>
                  <li sec:authorize="!isAuthenticated()" class="nav-item">
                     <a class="nav-link text-dark" href="/login">Bejelentkezés</a>
                  </li>
                  <li sec:authorize="!isAuthenticated()" class="nav-item">
                     <a class="nav-link text-dark" href="/register">Regisztráció</a>
                  </li>
                  <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                     <a class="nav-link text-dark" href="/admin">ADMIN</a>
                  </li>
                  <li sec:authorize="isAuthenticated()" class="nav-item">
                     <a class="nav-link text-dark" href="/logout">Kijelentkezés</a>
                  </li>
                  <h2>Rovatok</h2>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/belfold">Belföld</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/kulfold">Külföld</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/gazdasag">Gazdaság</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/sport">Sport</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/tech">Tech</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/bulvar">Bulvár</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/eletmod">Életmód</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" href="/auto">Autó</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

      <div id="register">
         <div th:if="${param.error}">
            <div class="alert alert-danger">
               <span th:text="#{register.error}"></span>
            </div>
         </div>
         <h2>Regisztráció</h2>
         <form action="#" th:action="@{/registeruser}" method="post">
            <label>Felhasználónév:
               <input type="text" name="felhasznalonev" id="felhasznalonev" required></input>
            </label>
            <label>E-Mail:
            <input type="text" name="email" id="email" required></input>
            </label>
            <label>Jelszó:
            <input type="password" name="jelszo" id="jelszo" required></input>
            </label>
            <label>Jelszó újra:
               <input type="password" name="jelszoUjra" id="jelszoUjra" required></input>
            </label>
            <label>Születési dátum:
               <input type="date" name="szulDatum" id="szulDatum" required></input>
            </label>
            <select name="jogosultsag" id="jogosultsag" required>
               <option value="ROLE_ADMIN">Admin</option>
               <option value="ROLE_EDITOR">Szerkesztő</option>
               <option value="ROLE_USER">Felhasználó</option>
            </select>
            <input type="submit" value="Regisztráció" class="btn-sm btn-dark details"></input>
         </form>
      </div>
   </body>
</html>