<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
   <title>Spring Boot example</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel='stylesheet' href='style.css'>
   <!--      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <!--      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   -->
</head>


<body>

<h1>Hírkereső</h1>

<header>
   <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
         <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link text-dark" href="/">Főoldal</a>
               </li>
               <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/profil">Profil</a>
               </li>
               <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/login">Bejelentkezés</a>
               </li>
               <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/register">Regisztráció</a>
               </li>
               <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                  <a class="nav-link text-dark" href="/admin">ADMIN</a>
               </li>
               <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link text-dark" href="/logout">Kijelentkezés</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>

<div>
   <h2>Hír módosítása</h2>
   <form action="#" th:action="@{/update/{hirid}(hirid=${hir.hirid})}" method="post">
      <label>Új cím:
         <input type="text" name="cim" id="name" th:value="${hir.cim}"></input>
      </label>
      <input type="hidden" name="kozetevesdatuma" id="age" th:value="${hir.kozetevesdatuma}"></input>
      <input type="hidden" name="megtekintesekszama" th:value="${hir.megtekintesekszama}"></input>
      <label>Fontos-e:
         <input type="checkbox" name="fontose" th:checked="${hir.fontose}"></input>
      </label>
      <label>Forrás URL módosítása:
         <input type="text" name="forras" th:value="${hir.forras}"></input>
      </label>
      <label>Forrás oldal nevének módosítása:
         <input type="text" name="honnan" th:value="${hir.honnan}"></input>
      </label>
      <label>Válassz kategóriát
         <select name="kategoria" required>
            <option value="Autó">Autó</option>
            <option value="Belföld">Belföld</option>
            <option value="Bulvár">Bulvár</option>
            <option value="Életmód">Életmód</option>
            <option value="Gazdaság">Gazdaság</option>
            <option value="Külföld">Külföld</option>
            <option value="Sport">Sport</option>
            <option value="Tech">Tech</option>
         </select>
      </label>
      <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
   </form>
</div>
</body>
</html>