<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Felhasználó módosítása</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="style.css" th:href="@{/style.css}" rel="stylesheet" />
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
</head>


<body>

<h1>Hírkereső</h1>

<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/">Főoldal</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link text-dark" href="/profil">Profil</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link text-dark" href="/login">Bejelentkezés</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link text-dark" href="/register">Regisztráció</a>
          </li>
          <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-link text-dark" href="/admin">ADMIN</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link text-dark" href="/logout">Kijelentkezés</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="editprofile">
<h2>Profil szerkesztése</h2>
  <form action="#" th:action="@{/frissit/{email}(email=${user.email})}" method="get">
    <input type="hidden" name="name" id="name" th:value="${user.email}" disabled></input>
    <label>Név:
      <input type="text" name="email" id="email" th:value="${user.felhasznalonev}"></input>
    </label>
    <label>Születési dátum:
      <input type="date" name="szulDatum" id="szulDatum" th:value="${user.szulDatum}"></input>
    </label>
    <label sec:authorize="hasAuthority('ROLE_ADMIN')" id="tiltallapot">
      <input type="checkbox" name="tiltallapot" id="tiltallapotinput" th:checked="${user.tiltallapot ? 1 : 0}"/>A felhasználó ki van-e tiltva?</td>
    </label>
    <h3>Hírlevél</h3>
    <div class="column">
      <div class="row">
        <label>Belföld</label>
        <input type="checkbox" name="belfold" value="Belföld" th:checked="${flag1}"/>
      </div>
      <div class="row">
        <label>Külföld</label>
        <input type="checkbox" name="kulfold" value="Külföld" th:checked="${flag2}"/>
      </div>
      <div class="row">
        <label>Gazdaság</label>
        <input type="checkbox" name="gazdasag" value="Gazdaság" th:checked="${flag3}"/>
      </div>
      <div class="row">
        <label>Sport</label>
        <input type="checkbox" name="sport" value="Sport" th:checked="${flag4}"/>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <label>Tech</label>
        <input type="checkbox" name="tech" value="Tech" th:checked="${flag5}"/>
      </div>
      <div class="row">
        <label>Bulvár</label>
        <input type="checkbox" name="bulvar" value="Bulvár" th:checked="${flag6}"/>
      </div>
      <div class="row">
        <label>Életmód</label>
        <input type="checkbox" name="eletmod" value="Életmód" th:checked="${flag7}"/>
      </div>
      <div class="row">
        <label>Autó</label>
        <input type="checkbox" name="auto" value="Autó" th:checked="${flag8}"/>
      </div>
    </div>
    <input type="submit" value="Módosítás" class="btn-sm btn-dark details"></input>

  </form>

  <form th:action="@{/torles/{username}/{currentuser}(username=${user.felhasznalonev},currentuser=${current_user.getFelhasznalonev()})}" method="post">
    <button class="btn-sm btn-dark details" type="submit" value="delete">Törlés</button></a>
  </form>

</div>
</body>
</html>